/******************************************************************

Stylesheet: Small-Med Stylesheet

Larger smartphone devices and smaller tablets may hit this
point.

******************************************************************/

.header {
  .nav {
    display: flex;
    justify-content: space-between;
  
    ul.sub-menu,
    ul.children {

      li {
        padding: 0;
      }
    }
  }
  .toggles {
    
    .menu-item-has-children {
    
      & > a {
        width: auto;
      }
    }
  }
}

.site-description {
  font-size: 1em;
  padding: .25em 1em .5em;
  left: auto;
  border-radius: 0 0 0 1em;
}	
  
.footer {
  .nav {
    margin: .5em -.75em;
  
    a {
      display: inline !important;
    }
    
    & > li {
      padding: .33em 0;
    }

    .sub-menu,
    .children {
      position: relative;
      z-index: 1;
      
      &:before {
        content: '>';
      }
    
      li {
        a {
          border: none;
          padding: 0;
        }
      }
      
      &, & li {
        display: inline;
      }
    }
  }
}


