/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Assuming your media queries are about right for tablets, you can
assume that we're getting fairly complex with our design about now.

******************************************************************/

$callout-width: $page_l + ( 2 * $gutter_m );

%callout {
  padding: 1.5rem $gutter_m;
}

/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.site {
	box-shadow: 0 0 2.5em 1em rgba( 0, 0, 0, .25 );

  .columnar & {
  	max-width: $page_l;
  }
}

.columnar .wrap {
  padding: 0 3em;
}

.entry-content > *,
.article-footer > *,
.sidebar > *,
.page-title {
  max-width: $page_l;
}

.header .wrap,
.footer .wrap,
.featured + .page-title {
  max-width: $callout-width;
}

.entry-content {
  
  & > .alignwide {
    max-width: 100%;
  }

  & > .alignfull {
    max-width: none;
  }
  
  .alignwide, .alignfull {
    margin-top: 3em;
    margin-bottom: 5em;
  }
  
  & > .nav {
    max-width: $callout-width;
    margin-right: auto;

    & > * {
      margin: 0 0 0 2em;
    }
  }
}

.columnar .entry-content {
  
  & > .alignwide {
    max-width: none;
  }

  & > .alignfull {
    @extend %callout;
  }
}

.bleed {
  @extend %callout;
}

.entry-content {
  
  & > blockquote,
  & > table {
    max-width: $callout-width;
    @extend %callout;
  }
}

/*********************
HEADER STYLES
*********************/

.header {
  padding-top: 2em;
}

.logo {
  margin-left: -3em;
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.site-description {
  top: -2em;
}	
  
.quick-actions {
  right: 3em;
}

/*********************
NAVIGATION STYLES
*********************/

.header {

  .wrap {
    flex-flow: row;
    position: relative;
  }

	.nav, .menu_toggle ~ nav, .toggle:checked ~ nav {
	  border: none;
	  max-height: none;
	  overflow: visible;
	}
	
	nav {
	  position: relative;
	  flex: 1;
	  display: flex;
	  flex-direction: column-reverse;
	  align-items: flex-end;
	}
	
	.menu_toggle {
	  display: none;
	}
	
  li {
    a {
      font-size: 1em;
    }
	}
	
	nav > ul > li > a {
	  border-radius: 1em;
	}
	
	nav > .top-nav > li > a {
	  border-radius: 1em 1em 0 0;
	}
	
	.sub-menu {
	  border-radius: 0 0 1em 1em;
	  overflow: hidden;
	}

  .menu-item-has-children {
    & > a {
      padding-right: 2em;
    
      &:before, &:after {
        content: '';
        transition: .2s ease-out;
        border-bottom: 2px solid $accent_deep;
        display: block;
        position: absolute;
        top: 50%;
        right: .7em;
        width: .5em;
        height: 0;
      }
      
      &:before {
        transform: rotate(45deg);
        right: 1em;
      }

      &:after {
        transform: rotate(-45deg);
      }
    
      &:focus {
        &:before, &:after {
          width: .75em;
          right: .75em;
        }
        
        &:before {
          transform: rotate(135deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
}


.nav {
	border: 0;
	
	ul {
		margin-top:0;
	}

	li {
		position: relative;

    /*
    focus class gets applied by JS
    this covers up the anchor element, so clicking again
    removes :focus
    */
    &.focus {
      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
    }

		a {
			border-bottom: 0;
			margin: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
			}
		}

		&:first-child {}
		&:last-child {}

		/* showing sub-menus */
		& > a:active ~ ul,
		& > a:focus ~ ul {
			visibility:visible;
      opacity: 1;
      transform: none;
		}
	}

  /*
  plan your menus and drop-downs wisely.
  */
  .sub-menu,
  .children {
    top: 100%;
    margin-top: 0;
    min-width: 100%;
    background: $menu_background;
    border-top: 0;
    position: absolute;
    visibility: hidden;
    z-index: 8999;
    opacity: 0;
    transition: .2s all;
    transform: scaleY(0);
    transform-origin: top;

    li {
    
      a {
        padding-left: 10px;
        border-right: 0;
        display: block;
        min-width: 180px;

        &:hover,
        &:focus {}

        &:link {}
      }

      &:first-child {}

      &:last-child {}

      /*
      if you need to go deeper, go nuts
      just remember deeper menus suck
      for usability. k, bai.
      */
      ul {
        top:0;
        left:100%;
      }
    }

    /* highlight sub-menu current page */
    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {
      a {}
    }
  }
  
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

.t-toggles {
  @import "../modules/toggles";
}

/*********************
POSTS & CONTENT STYLES
*********************/

  .hentry {
    margin-bottom: 1.5em;
    padding: 0 0 1.5em;
    
    header {

      .featured-image, .featured-video-plus {
        width: 100%;
      }
      
      .link_large {
        padding-bottom: 0;
      }
    }
  }
  
  .light-featured-image {
    header {
      .featured {

        & + h1 {
          color: $gray_dark;
        }
      }
    }
  }

  .callout {
    font-size: 1.3125em;
    line-height: 1.3125;
  }  


/*********************
HOME STYLES
*********************/

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		margin-top: 2.5em;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/

.footer {
  text-align: left;
  border-width: 1em 0 3em;
  
  .nav {
    .sub-menu,
    .children {
      opacity: 1;
      visibility: visible;
      background: none;
      min-width: none;
    }
  }
  
  .logo, .widgets {
    float: left;
  }
  
  .widget {
  
    p {
      margin: 0 0 1em;
    }
  }
}

.copyright {
  clear: both;
}

.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

