/******************************************************************
Site Name:
Author:

Stylesheet: Large size

This typically targets devices larger than a tablet, but it's your
design. Shift the media queries to fit your evil scheme.

******************************************************************/

.d-toggles {
  @import "../modules/toggles";
}

@max-width( $page-width + 4rem ) {
  .wrap {
    padding: 0; // do not need if page wider than .wrap
  }
}

/* entry content */
.entry-content {
  
  & > .alignwide {
    max-width: 92%;
  }

	.alignleft {
    margin-right: 3rem;
	}

	.alignright {
    margin-left: 3rem;
	}

	.aligncenter {
    max-width: 70%;
	}

} /* end .entry-content */

.featured {
      
  & + h1 {
    border-radius: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

