/******************************************************************
Typography Styles
******************************************************************/

// ==================================================================
// Need to import a font or set of icons for your site? Drop them in
// here or just use this to establish your typographical grid. Or not.
// Do whatever you want to...GOSH!

// Helpful Articles:
// http://trentwalton.com/2012/06/19/fluid-type/
// http://ia.net/blog/responsive-typography-the-basics/
// http://alistapart.com/column/responsive-typography-is-a-physical-discipline
// ------------------------------------------------------------------


/*********************
FONT FACE (IN YOUR FACE)
*********************/

// To embed your own fonts, use this syntax and place your fonts inside the
// library/fonts folder. For more information on embedding fonts, go to:
// http://www.fontsquirrel.com/

  @font-face {
      font-family: 'Charter';
      src: url('../fonts/charter/charter_regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Charter';
      src: url('../fonts/charter/charter_bold-webfont.woff') format('woff');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Charter';
      src: url('../fonts/charter/charter_italic-webfont.woff') format('woff');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Proxima Soft';
      src: url('../fonts/proximasoft_regular_macroman/proximasoft-regular-webfont.woff2') format('woff2'),
           url('../fonts/proximasoft_regular_macroman/proximasoft-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Proxima Soft';
      src: url('../fonts/proximasoft_bold_macroman/proximasoft-bold-webfont.woff2') format('woff2'),
           url('../fonts/proximasoft_regular_macroman/proximasoft-bold-webfont.woff') format('woff');
      font-weight: bold;
      font-style: normal;
  }


// The following is based of Typebase:
// https://github.com/devinhunt/typebase.css
// I’ve edited it a bit, but it’s a nice starting point.

// font stacks
$sans:              "Proxima Soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             Charter, Georgia, Cambria, Times New Roman, Times, serif;
$body_font:         $serif;
$heading_font:      $sans;

// some nice typographical defaults
// more here: http://www.newnet-soft.com/blog/csstypography

p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // hyphenation done in normalize
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
}

@media( min-width: $page_m ) {
  p {
    -webkit-hyphens: none;
    -epub-hyphens:   none;
    -moz-hyphens:    none;
    hyphens:         none;
  }
}

// ==================
// Mixins for typography
// use: @extend %crispType
// ------------------

%crispType {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

// use: @extend %strongType
%strongType {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;	
}

%kern {
  font-feature-settings: "kern";
  font-kerning: normal;
}

.caps {
  letter-spacing: .05em;
  font-weight: bold;
  text-transform: uppercase;
}

.smallcaps {
  font-size: .75em;
  @extend .caps;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: $heading_font;
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 1.66em;
  padding-top: 2em;
  line-height: 1.333em;
}

h2, .h2 {
  font-size: 1.33em;
  padding-top: 2em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3, .h3 {
  font-size: 1.125em;
  padding-top: 1em;
}

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media( min-width: $page_ms ) {

  h1, .h1 {
    font-size: 2.5em;
  }

  h2, .h2 {
    font-size: 1.5em;
  }

}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link_color;

  /* on hover */
  &:hover, &:focus {
    color: $link_hover;
  }
  
  /* on click */
  &:active {

  }

  &:link {

    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }

  /* in-post styles */
  .hentry & {
    text-decoration-color: lighten( $link_color, 33% );
    padding: .125em .25em;
    margin: -.125em -.25em;
    border-radius: .25em;
  
    &:hover, &:focus {
      text-decoration-color: lighten( $link_color, 45% );
      background: lighten( $link_color, 45% );
    }  
  }
  
  .hentry .nav & {
    background: none;
  }
}

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $body-font;
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: .02em;
	color: $text_color;

	@media( min-width: $page_l ) {
	  line-height: 1.66;
	}
}


p, figure, blockquote, pre {
  margin: 0 0 2em;
}

figure {
  border-radius: 1em;
  overflow: hidden;
  background: $menu_background;
  
  &.alignfull {
    border-radius: 0;
    max-width: none;
    margin-left: ( -1 * $gutter );
    margin-right: ( -1 * $gutter );
  }
  
  &.wp-block-embed {
    text-align: center;
    padding: 1.5rem;
  }
  
  iframe {
    border-radius: .75rem;
    box-shadow: 0 0 0px 8px darken( $menu_background, 5% );
  }
}

figcaption {
  margin: .75em;
}

table {
  width: 100%;
  background: $menu_background;
  border-radius: 1em;
  padding: .5em 1em;
  border-collapse: initial;
  margin-bottom: 2em;

  caption {
    margin: 0 0 7px;
    font-size: 0.75em;
    color: $meta_color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

td {
  padding: 7px;
  border-top: 1px solid $white;
  border-left: 1px dotted $white;
  text-align: center;

  tr:first-child & {
    border-top: 0;
  }

  &:first-child {
    border-left: 0;
    text-align: left;
  }
}

th, tr:first-child td {
  font-weight: bold;
  font-family: $sans;
}

blockquote {
  padding: 1rem;
  border-radius: 1rem;
  background: rgba( $accent_strong, .3 );
  quotes: '\201c' '\201d';

  & > :first-child:before {
    content: open-quote;
    display: inline-block;
    position: relative;
    top: -.25em;
    width: 0.5em;
    height: .75em;
    margin: -1.75em -.25em 0 -1em;
    padding: 0 .375em;
    color: $white;
    background: $pw_sienna;
    font-size: 3em;
    text-align: center;
    border-radius: .25em;
    mix-blend-mode: multiply;
  }
}

blockquote, b, strong, figure {
  font-family: $sans;
}

figcaption, .wp-block-image figcaption {
  font-size: 1em;
  color: $accent_deep;
}

dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

pre {
  background: $black;
  color: $gray_light;
  font-size: 0.9em;
  padding: 1.5em;
  border-radius: 3px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol, ul {
  padding-left: 1.5em;
}
