/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

/* brand colors */
$pw_dark_brown:     #463628; // PMS 476
$pw_pale_teal:      #A6D3D7; // PMS 5503

$pw_sienna:         #B7732B; // PMS 145
$pw_dark_teal:      #5C898D; // PMS 5483
$pw_spring_green:   #98A017; // PMS 397
$pw_marigold:       #F9B744; // PMS 1225

$pw_raspberry:      #C13D45; // PMS 186
$pw_eggplant:       #573C5F; // PMS 520

$alert_yellow:      #ebe16f;
$alert_red:         #fbe3e4;
$alert_green:       #e6efc2;
$alert_blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$gray_light:        #f8f9fa;
$gray:              #eaedf2;
$gray_med:          #777;
$text_color:        lighten( saturate( $pw_dark_brown, 20% ), 6% );
$heading_color:     $pw_sienna;
$meta_color:        #9fa6b4;
$gray_dark:         #444;

$blue:              #2980b9;
$blue_light:        saturate( lighten( $blue, 10% ), 10%);

$accent_soft:       $pw_pale_teal;
$accent_deep:       $pw_dark_teal;
$accent_strong:     $pw_sienna;

$link_color:        $pw_sienna;
$link_hover:        darken($link_color, 9%);

$button_color:      $pw_eggplant;

$border_color:      #ccc;
$disabled_color:    #cfcfcf;

$body_background:   $white;
$header_background: $accent_soft;
$footer_background: $accent_deep;
$menu_background:   lighten( $accent_soft, 18% );

/*
Here's a great tutorial on how to
use color variables properly:
http://v3.sachagreif.com/sass-color-variables/
*/

/*********************
PAGE WIDTH
Based on ems.
*********************/
$page_xs	  : 20rem;
  $page_xs-	: ( $page_xs - .01rem );
$page_s		  :	32rem;
  $page_s-	: ( $page_s - .01rem );
$page_ms	  :	40rem;
  $page_ms-	: ( $page_ms - .01rem );
$page_m		  : 48rem;
  $page_m-	: ( $page_m - .01rem );
$page_l		  : 60rem;
  $page_l-	: ( $page_l - .01rem );
$page_xl	  : 78rem;
  $page_xl-	: ( $page_xl - .01rem );
$page_xxl	  : 108rem;
  $page_xxl-: ( $page_xxl - .01rem );
