// ==================================================================
// Stylesheet: Alerts

// If you want to use these alerts in your design, you can. If not,
// you can just remove this stylesheet.
// ------------------------------------------------------------------


// alerts and notices
%alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

.alert-help {
  @extend %alert;
  border-color: darken($alert_yellow, 5%);
  background: $alert_yellow;
}

.alert-info {
  @extend %alert;
  border-color: darken($alert_blue, 5%);
  background: $alert_blue;
}

.alert-error {
  @extend %alert;
  border-color: darken($alert_red, 5%);
  background: $alert_red;
}

.alert-success {
  @extend %alert;
  border-color: darken($alert_green, 5%);
  background: $alert_green;
}