// ==================================================================
// Stylesheet: Tabs

// Functionality to create tabs where you’d like.

// Hat tip to Stephen Morley. I was almost there, but this model helped:
// http://code.stephenmorley.org/html-and-css/tabbed-panels/

// Hold on there! Looks like we are doing this with flexbox! Once we
// get tabs which wrap to more than a line, we run into problems 
// not easily fixed.

// Started w/ http://codepen.io/vulpesigni/pen/yyZYNy
// ------------------------------------------------------------------


// Styling
.tabbed {

  label {
    @extend .caps;
    font-size: .8125em;
    margin: 0 .75em .5em 0;
    padding: .5em .75em;
    background: $gray_light;
    transition: .2s;
  
    &:hover {
      background: darken( $gray_light, 8% );
    }
    
    .tab-content {
      padding: 1em .75em;
    }
  }
  
  .toggle:checked + label {
    color: #fff;
    background: $gray_dark;
  } 
}

// Utility - probably leave this alone
.tabbed {
  
  .toggle {}
  
  label {
    display: block;
    position: relative;
  }

  .tab-content {}
  
  .toggle:not(:checked) + label + .tab-content {
    display: none;
  }
  
  .toggle:checked + label + .tab-content {
    display: block;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media( min-width: $page_s ) {

  .tabbed {
    display: flex;
    flex-wrap: wrap;

    .tab-content {
      order: 1;
    }
  }
}
